body {
    text-align: right;
}
.navbar-brand {
    margin-right: 0;
}
.form-control {
    text-align: right;
}

.main-nav {
    .navbar {
        .navbar-brand {
            margin: 0 !important;
        }
        .navbar-nav {
            .nav-item  {
                .dropdown-menu {
                    right: 0;
                    left: auto;
                    text-align: right;
                    .nav-item {
                        .dropdown-menu {
                            right: 100%;
                            left: auto;
                        }
                    }
                }
            }
        }
    }
}
/*-- Banner Area --*/
.banner-area {
    &:before {
        left: -287px;
        right: auto;
        transform: rotate(17deg);
    }
    .banner-img {
        img:nth-child(2) {
            left: 50px;
            right: auto;
        }
    }
}
.cmn-btn {
    .banner-btn-left {
        margin-left: 20px;
        margin-right: unset;
    }
}
.banner-call {
    &::before {
        left: auto;
        right: 0;
        clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
    }
    .cmn-btn {
        text-align: left;
    }
}
/*-- Banner Area End --*/
.address-item {
    &::before {
        left: 0;
        right: auto;
    }
}
.process-item {
    .process-two, .process-three {
        padding-left: 100px;
    }
}
/*-- Service Area --*/
.service-item {
    .service-content {
        .service-icon {
            left: 0;
            right: auto;
        }
    }
}
/*-- Service Area End --*/
.quality-area {
    overflow: hidden;
}
/*-- Quality --*/
.quality-area-four {
    .quality-shape {
       left: 0;
       right: auto;
    }
    .quality-img {
        .video-wrap {
            left: -48px;
            right: unset;
        }
    }
    .quality-content {
        margin-right: 95px;
        margin-left: unset;
    }
}
/*-- End Quality --*/

/*-- Feature --*/
.feature-area {
    .feature-img {
        &::before {
            right: auto;
            left: -170px;
            transform: rotate(19deg);
        }
    }
    .feature-shape {
        img {
           left: 65px;
           right: auto;
        }
    }
    .feature-content {
        margin-left: auto;
        margin-right: unset;
        ul {
            li {
                padding-left: unset;
                padding-right: 70px;
                margin-bottom: 40px;

                &:nth-child(1) {
                    margin-right: 50px;
                    margin-left: unset;
                }
                &:nth-child(2) {
                    margin-right: 100px;
                    margin-left: unset;
                }
                &:nth-child(3) {
                    margin-right: 150px;
                    margin-left: unset;
                }
                i {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}
/*-- End Feature --*/

/*-- Review  Area --*/
.review-area {
    .review-bg {
        &::before {
            right: -170px;
            left: auto;
            transform: rotate(19deg);
        }
    }
    .review-shape {
        img {
           right: 0;
           left: auto;
        }
    }
    .owl-theme .owl-nav {
       left: 0;
       right: auto;
    }
    .review-slider {
        margin-right: auto;
        margin-left: unset;
        padding-left: 50px;
        padding-right: unset;
        .review-item {
            .review-inner {
                padding-right: 85px;
                padding-left: unset;

                img {
                   right: 0;
                   left: auto;
                }
            }
        }
    }
    .video-wrap {
        right: 235px;
        left: 0;
    }
}
/*-- Review  Area End --*/

/*-- Pricing  Area --*/
.pricing-item {
    .pricing-top {
        p {
            .dollar {
                right: -16px;
                left: auto;
            }
        }
    }
    .pricing-bottom {
        ul {
            li {
                i {
                    margin-left: 4px;
                    margin-right: unset;
                }
            }
        }
    }
}
/*-- Pricing  Area End --*/
.service-details-area {
    .service-details-item {
        .service-details-left, .service-details-img {
            h3 {
                &::before {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}

.checkout-item {
    .checkout-one {
        label {
            margin-left: 10px;
            margin-right: unset;
        }
    }
}
.signup-item {
    .form-group {
        text-align: right;
    }
    h3 {
        margin-left: 10px;
        margin-right: unset;
    }
    ul {
        li {
            margin-left: 6px;
            margin-right: unset;
        }
    }
}
.faq-area {
    .accordion {
        a {
            padding: 15px 18px 15px 0;
            &::after {
                left: 20px;
                right: auto;
            }
        }
    }
}
/*-- Blog  Area  --*/
.blog-item {
    .blog-top {
        .blog-date {
            left: auto;
            right: 30px;
        }
    }
    &:hover {
        .blog-top {
            .blog-date {
                left: auto;
                right: 0
            }
        }
    }
    .blog-bottom {
        ul {
            li {
                img {
                    margin-left: 8px;
                    margin-right: unset;
                }
            }
        }
    }
}
.blog-details-item {
    .blog-details-img {
        .date {
            right: 30px;
            left: auto;
        }
        ul {
            margin: 0;
            padding: 0;

            li {
                margin-right: unset;
                margin-left: 22px;
                &:last-child {
                    margin-left: 0;
                }
                i {
                    margin-left: 4px;
                    margin-right: unset;
                }
            }
        }
    }
    .blog-details-nav {
        ul {
            li {
                text-align: right;

                &:last-child {
                    text-align: left;
                }
            }
        }
    }
    .blog-details-search {
        .search-btn {
            left: 0;
            right: auto;
        }
    }
    .blog-details-recent {
        .blog-details-inner {
            padding-right: 125px;
            padding-left: unset;
            img {
                right: 0;
                left: auto;
            }
            ul {
                li {
                    &:last-child {
                        text-align: left;
                    }
                    i {
                        margin-right: unset;
                        margin-left: 2px;
                    }
                }
            }
        }
    }
    .blog-details-category {
        ul {
            li {
                a {
                    i {
                        left: 0;
                        right: auto;
                    }
                }
            }
        }
    }
}

/*-- Blog  Area End --*/
.footer-item {
    .footer-logo {
        ul {
            li {
                margin-right: unset;
                margin-left: 12px;
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
    .footer-find {
        ul {
            li {
                padding-left: unset;
                padding-right: 27px;
                i {
                    left: auto;
                    right: 0;
                    margin-left: 4px;
                    margin-right: unset;
                }
            }
        }
    }
}
.copyright-area {
    .copyright-right {
        text-align: left;
    }
}
#toTop {
    left: 0;
    right: auto;
}
.buy-now-btn {
    left: 20px;
    right: auto;
}
.switch-box {
    left: 120px;
    right: auto;
}
/*
Responsive CSS
============================*/
@media only screen and (max-width: 767px) {
    .banner-area {
        .banner-img {
            img:nth-child(2) {
                left: 0;
                right: 0;
            }
        }
    }
    .cmn-btn {
        .banner-btn-left {
            margin-left: 10px;
            margin-right: unset;
        }
    }
    .banner-call {
        &::before {
            clip-path: none;
        }
        .cmn-btn {
            text-align: center;
        }
    }
    .quality-area-four {
        .quality-img {
            .video-wrap {
                left: 0;
                right: 0;
            }
        }
    }
    .quality-area-four {
        .quality-content {
            margin-right: 0;
            margin-left: unset;
        }
    }
    .feature-area {
        .feature-content {
            ul {
                li {
                    
                    &:nth-child(1) {
                        margin-right: 0;
                        margin-left: unset;
                    }
                    &:nth-child(2) {
                        margin-right: 0;
                        margin-left: unset;
                    }
                    &:nth-child(3) {
                        margin-right: 0;
                        margin-left: unset;
                    }
                }
            }
        }
    }
    .review-area {
        .owl-theme .owl-nav {
           left: 0;
           right: 0;
        }
        .review-slider {
            padding-left: 0;
            .review-item {
                .review-inner {
                    padding-right: 0;
                    padding-left: unset;
                }
            }
        }
        .video-wrap {
            right: 0;
            left: 0;
        }
    }
    .copyright-area {
        .copyright-right {
            text-align: center;
        }
       
    }
}

@media only screen and (min-width : 576px) and (max-width : 767px) {

}

@media only screen and (min-width : 768px) and (max-width : 991px) {
    .banner-area {
        .banner-img {
            img:nth-child(2) {
                left: 0;
                right: 0;
            }
        }
    }
    .cmn-btn {
        .banner-btn-left {
            margin-left: 10px;
            margin-right: unset;
        }
    }
    .banner-call {
        &::before {
            clip-path: none;
        }
        .cmn-btn {
            text-align: center;
        }
    }
    .quality-area-four {
        .quality-img {
            margin-bottom: 30px;
            .video-wrap {
                left: 0;
                right: 0;
            }
        }
    }
    .quality-area-four {
        .quality-content {
            margin-right: 0;
            margin-left: unset;
        }
    }
    .feature-area {
        .feature-content {
            ul {
                li {
                    
                    &:nth-child(1) {
                        margin-right: 0;
                        margin-left: unset;
                    }
                    &:nth-child(2) {
                        margin-right: 0;
                        margin-left: unset;
                    }
                    &:nth-child(3) {
                        margin-right: 0;
                        margin-left: unset;
                    }
                }
            }
        }
    }
    .review-area {
        .owl-theme .owl-nav {
           left: 0;
           right: 0;
        }
        .review-slider {
            padding-left: 0;
            .review-item {
                .review-inner {
                    padding-right: 0;
                    padding-left: unset;
                }
            }
        }
        .video-wrap {
            right: 0;
            left: 0;
        }
    }
    .copyright-area {
        .copyright-right {
            text-align: center;
        }
       
    }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .review-area {
        .review-slider {
            max-width: 450px;
        }
    }
    .banner-call {
        &::before {
            clip-path: none;
        }
    }
    .quality-area-four {
        .quality-content {
            max-width: 400px;
            margin-right: 60px;
            margin-left: unset;
        }
    }
}

@media only screen and (min-width: 1400px) {
    
    
}

@media only screen and (min-width : 1800px) {
    .quality-area-four {
        .quality-img {
            .video-wrap {
                left: 50px;
            }
        }
    }
    
}

@media only screen and (max-width: 991px) {
    .mean-container {
        a {
            text-align: right;
            &.meanmenu-reveal {
                left: 15px !important;
                right: auto !important;
            }
        }
        .mean-nav {
            ul {
                li {
                    a {
                        float: right;
                        text-align: right;
                        &.mean-expand {
                            left: 0;
                            right: auto;
                            text-align: left;
                        }
                    }
                }
            }
        }
        .mean-expand {
            width: 90%;
            text-align: left;
            left: 0;
            right: auto;
        }
    }
    .mobile-nav  {
        .logo {
            right: 15px !important;
            left: auto !important;
        }
    }
}

